<form method="post" action="/edit/{{user._id}}">
    <label>Firstname: </label><input type="text" name="firstname" value="{{user.firstName}}"/>
    <label>Lastname: </label><input type="text" name="lastname" value="{{user.lastName}}"/>
    <label>Email: </label><input type="text" name="email" value="{{user.email}}"/>
    <input type="submit" name="valider" value="Valider modification" />
</form>

<a href="/">Back to User list</a>