<form method="post" action="/search">
  <label for="search-user">Rechercher un utilisateur : </label>
  <input type="search" id="search-user" name="name" aria-label="Search through site content"/>
  <input type="submit" name="Search" value="Rechercher"/>
</form>
{{#if search}}
  <a href="/">Annuler recherche</a>
{{/if}}
<table class="users-list">
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
      <tr onclick="window.location.href='/details/{{_id}}'">
        <td>{{this.firstName}}</td>
        <td>{{this.lastName}}</td>
        <td><a href="/delete/{{_id}}">Delete</a></td>
      </tr>
    {{/each}}
  </tbody>
</table>
<div class="commands">
  <a href="/add">Add a new user</a>
</div>